<mat-card>
  <mat-card-header>
  <mat-card-title>Restablecer Contraseña</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="Restablecer-form">

      <mat-form-field class="Restablecer-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="Correo" placeholder="Correo">
      </mat-form-field>

      <button mat-raised-button color="primary">Restablecer</button>
      <button routerLink="/login" mat-raised-button color="warn">Login</button>
    </form>
  </mat-card-content>
</mat-card>
